@font-face {
    font-family: 'Hanken Grotesk';
    src: url('caminho/para/a/fonte/HankenGrotesk-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {

    main {
        width: 100%;
        min-height: 100vh;
        font-family: "Hanken Grotesk";
    }

    .result {
        width: 100%;
        height: 375px;
        background: linear-gradient(to bottom, #5024FF 60%, #2E2BE9);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 0 0 30px 30px;
        font-family: "Arial", sans-serif;
    }

    .result p {
        margin-top: 20px;
        color: #9595af;
        font-size: 18px;
        font-weight: bold;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(#1c39bb, #324ab2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
              
    }


    .circle h1 {
        color: white;
        font-size: 55px;
        
    }

    .circle p{
        margin-top: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;        
    }

    .text h1 {
        color: white;
        font-weight: bold;
    }

    .text p {
        font-size: 18px;
    }

    .summary {
        width: 90%;
        padding: 20px 0 0 35px;
    }
    .conteudo{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
    .titulo{
        border-radius: 10px;
        background: red;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        /*gap: 150px; */
        
    }

    .teste{
        display: flex;
        flex-direction: row;        
        
    }

}