@font-face {
    font-family: 'Hanken Grotesk';
    src: url('caminho/para/a/fonte/HankenGrotesk-Regular.ttf');
}

body{
    background: #c9c9c9;
    display: flex;
    justify-content: center;
    height: 100vh; /* 100% */
    font-family: 'Hanken Grotesk', sans-serif;
}

.form{
    background: white;
    margin-top: 30vh;
    width: 35%;
    height: 50vh;
    border-radius: 30px;
}

.formesq{
    background-image: linear-gradient(to bottom, #5024FF 60%, #2E2BE9); 
    width: 50%;
    height: 50vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.formesq h1{
    margin-top: 5vh;
    font-size: 20px;
    color: #C8C7FF; 
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('caminho/para/a/fonte/HankenGrotesk-Regular.ttf');
}

body{
    background: #c9c9c9;
    display: flex;
    justify-content: center;
    height: 100vh; /* 100% */
    font-family: 'Hanken Grotesk', sans-serif;
}

.form{
    background: white;
    margin-top: 30vh;
    width: 35%;
    height: 50vh;
    border-radius: 30px;
}

.formesq{
    background-image: linear-gradient(to bottom, #5024FF 60%, #2E2BE9); 
    width: 50%;
    height: 50vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.formesq h1{
    margin-top: 5vh;
    font-size: 20px;
    color: #C8C7FF; 
}
